
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway' sans-serif;
  margin: 0 auto;
  }
ul {
    padding-inline-start: 0;
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
  }
  li {
    list-style-type: none;
  }
  h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  /* Header */
  .hero {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero_ {
    text-align: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero-sec {
    border-bottom: 1px solid #ECECEC;
  }
  .stud {
    width: 49px;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    font-size: 14px;
    line-height: 1.17;
    word-spacing: 50px;
    margin-right: 50px;
  }
  .port {
    width: 77px;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    font-size: 14px;
    line-height: 1.17;
    word-spacing: 50px;
    margin-right: 50px;
  }
  .cont {
    width: 68px;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    font-size: 14px;
    line-height: 1.17;
    word-spacing: 50px;
    margin-right: 0;
  }
  .hero nav {
    display: inline-flex;
  }
  .hero_ nav {
    display: inline-flex;
  }
  .studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #212121;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  padding: 24px 0 25px;
 }
.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #2196F3;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
.navigation {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 93px;
}
.navigation .cont {
  margin-right: 0;
}
.navigation > li >a:hover {
  color:#2196F3
}
.navigation > li >a:focus {
  color:#2196F3
}
.mail {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 135px;
  color: #757575;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  margin-left: 331px;
  margin-right: 50px;
}
.mail:hover {
  color: #2196F3;
}
.mail:focus {
  color: #2196F3;
}
.mail:hover .mail_icon {
  fill: #2196F3;
}
.mail:focus .mail_icon {
  fill: #2196F3;
}
.tel {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.tel:hover {
  color: #2196F3;
}
.tel:hover .tel_icon {
  fill: #2196F3;
}
.tel:focus {
  color: #2196F3;
}
.tel:focus .tel_icon {
  fill: #2196F3;
}
/* Main */
.container {
  background-image:linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url('../images/backgraund-image.jpg');
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
  }
  .button {
    display: block;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 200px;
    height: 50px;
    background: #2196F3;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    margin: 30px auto 0;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .container-portf {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .container-portf li {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    float: left;
    margin-right: 8px;
  }
  .container-portf button {
    background: #F5F4FA;
  }
  .button_chapters-f {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    width: 73px;
    border-radius: 4px;
    padding: 6px 22px;
    margin-left: 294px
    

  }
  .button_chapters-s {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    width: 128px;
    border-radius: 4px;
    padding: 6px 22px;
  }
  .button_chapters-t {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    width: 145px;
    border-radius: 4px;
    padding: 6px 22px;
  }
  .button_chapters-fo {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    width: 103px;
    border-radius: 4px;
    padding: 6px 22px;
  }
  .button_chapters-ff {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    width: 130px;
    border-radius: 4px;
    padding: 6px 22px;
  }
  .container-portf button:hover {
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .section {
    padding-top: 94px;
  }
  .container_second {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .photo {
    margin-top: 50px;
  }
  .container_second li {
    display: inline-block;
    float: left;
    margin-right: 30px;
  }
  .container_second li:last-child {
    margin-right: 0;
  }
  .title-second {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
  }
  .title-second_stud {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
  .title-first {
    font-family: 'Roboto';
    font-style: normal;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.8;
  }
  .text {
    width: 270px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;
  }
  .about_work > {
    display: block;
    width: 1600;
  }
  .about_work h2 {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #212121;
    font-size: 36px;
    line-height: 1.16;
    margin-top: 289px;
    margin-left: 612px;
  }
  .container_second h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    width: 376px;
  }
  .images {
    margin-right: 30px;
  }
  .images:last-child {
    margin-right: 0;
  }
.section {
    display:block;
    align-content: center;
    margin: 0 auto;
    padding: 94px 0;
  }
.section:nth-child(4) {
    background-color: #F5F4FA;
    padding-top: 94px;
  }
.button-use {
  padding-top: 0;
  padding-bottom: 0;
}
.section:nth-child(3) {
  padding-top: 0;
  padding-bottom: 94px;
}
.section > .container_second {
    text-align: left;
  }
  .section_t {
    align-items: center;
    padding: 94px 0;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container_second h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin: auto;
    text-align: center;
  }
  .name {
    margin-top: 50px;
  }
  .name li {
    background: #FFFFFF;
    float: left;
    width: 270;
    margin-right: 30px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .name li:last-child {
    margin-right: 0;
  }
  .name >li >h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #212121;
    font-size: 16px;
    line-height: 1.12;
    margin-top: 30px;
  }
  .name_port {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 1200px;
    align-items: flex-start;
    text-align: center;
  }
  .name_port li {
    display: inline;
    width: 370px;
    flex-wrap: wrap;
    background: #FFFFFF;
    margin-top: 30px;
    margin-right: 30px;
    text-align: left;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
  }
  .name_port li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .name_port li:nth-child(-n +3) {
    margin-top: 0;
  }
  .name_port li:last-child {
    margin-right: 0;
  }
  .name_port >li >h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #212121;
    font-size: 16px;
    line-height: 2;
  }
  .about {
    padding: 20px 24px;
    box-align: left;
  }
  .about_ {
    padding-top: 30px;
  }
  .profession {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    line-height: 1.18;
    margin-top: 10px;
  }
  .profession_p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 4px;
    color: #757575;
    font-size: 16px;
    line-height: 1.8;
  }
  .type {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    line-height: 1.8;
  }

  .footer {
    background: #2F303A;
    margin: 0 auto;
    padding: 60px 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .address {
    display: block;
    margin-bottom: 9px;

  }
  address {
    width: 231px;
  }
  .studioo {
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 26px;
    line-height: 1.15;
    text-decoration: none;
  }
  .adres {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 231px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 9px;
    flex-direction: column;
  }
  .maill {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 231px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 9px;
  }
  .tell {
    font-family: 'Roboto', sans-serif;
    width: 231px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    margin-top: 9px;
  }
  .mail_icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
  }
  .mail_icon:hover {
    fill: #2196F3;
  }
  .tel_icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
  }
  .tel_icon:hover {
    fill: #2196F3;
  }
.title_icon {
  background-size: contain;
  width: 70px;
  height: 70px;
}
.title_size {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #F5F4FA;
  height: 120px;
  margin-bottom: 30px;
}
.social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  height: 44px;
  margin: 16px 32px 30px;
}
.ellipse {
  text-align: center;
  width: 44px;
  height: 44px;
  border-radius: 50px/50px;
  margin-right: 10px;
}
.ellipse:last-child {
  margin-right: 0;
}
.social-insta {
  fill:#AFB1B8;
  width: 20px;
  height: 20px;
  margin: 12px auto;
}
.social-insta:hover {
  fill:#FFFFFF;
}
.social-insta:focus {
  fill:#FFFFFF;
}
.ellipse:hover {
  background-color: #2196F3;
}
.ellipse:focus {
  background-color: #2196F3;
}
.ellipse:hover .social-twitter {
  background-color: #2196F3;
  fill:#FFFFFF;
}
.ellipse:hover .social-facebook {
  background-color: #2196F3;
  fill:#FFFFFF;
}.ellipse:hover .social-linkedin {
  background-color: #2196F3;
  fill:#FFFFFF;
}.ellipse:hover .social-insta {
  background-color: #2196F3;
  fill:#FFFFFF;
}
.ellipse:focus .social-twitter {
  background-color: #2196F3;
  fill:#FFFFFF;
}
.ellipse:focus .social-facebook {
  background-color: #2196F3;
  fill:#FFFFFF;
}.ellipse:focus .social-linkedin {
  background-color: #2196F3;
  fill:#FFFFFF;
}.ellipse:focus .social-insta {
  background-color: #2196F3;
  fill:#FFFFFF;
}
.social-twitter {
  fill:#AFB1B8;
  width: 20px;
  height: 20px;
  margin: 12px auto;
}
.social-twitter:hover {
  fill:#FFFFFF;
}
.social-facebook {
  fill:#AFB1B8;
  width: 20px;
  height: 20px;
  margin: 12px auto;
}
.social-facebook:hover {
  fill:#FFFFFF;
}
.social-linkedin {
  fill:#AFB1B8;
  width: 20px;
  height: 20px;
  margin: 12px auto;
}
.social-linkedin:hover {
  fill:#FFFFFF;
}
.client_ {
  margin-top: 50px;
}
.client {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.client:hover {
  border-color: #2196F3;
}
.client:focus {
  border-color: #2196F3;
}
.client:hover .client_icon {
  fill:#2196F3;
}
.client:focus .client_icon {
  fill:#2196F3;
}
.client_icon {
  width: 106px;
  height: 60px;
  fill:#AFB1B8;
}
.client_icon:hover {
  fill:#2196F3;
}
.client_icon:focus {
  fill:#2196F3;
}
.title-footer {
  color: #FFFFFF;
  width: 145px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.8;
}
.social_links-footer {
  display: block;
  width: 206px;
  justify-content: left;
  margin-top: 72px;
}
.links-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.ellipse-footer {
  text-align: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  width: 44px;
  height: 44px;
  border-radius: 50px/50px;
  margin-right: 10px;
}
.ellipse-footer:hover {
  background-color: #2196F3;
}
.ellipse-footer:focus {
  background-color: #2196F3;
}
.social-insta-footer {
  fill:#ffffff;
  width: 20px;
  height: 20px;
  margin: 12px auto;
}
.social-twitter-footer {
  fill:#ffffff;
  width: 20px;
  height: 20px;
  margin: 12px auto;
}
.social-facebook-footer {
  fill:#ffffff;
  width: 20px;
  height: 20px;
  margin: 12px auto;
}
.social-linkedin-footer {
  fill:#ffffff;
  width: 20px;
  height: 20px;
  margin: 12px auto;
}
.links_all {
  margin-left: 70px;
  margin-top: 15px;
}